[*.cs]

csharp_prefer_simple_using_statement = false
csharp_style_prefer_primary_constructors = false

# SYSLIB1045: Convert to 'GeneratedRegexAttribute'.
dotnet_diagnostic.SYSLIB1045.severity = silent

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = silent

# CA1859: Use concrete types when possible for improved performance
dotnet_diagnostic.CA1859.severity = silent
