[*.cs]

csharp_prefer_simple_using_statement = false
csharp_style_prefer_primary_constructors = false

# SYSLIB1045: Convert to 'GeneratedRegexAttribute'.
dotnet_diagnostic.SYSLIB1045.severity = silent
